@import "./text_styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-primaryDark;
  font-family: Poppins, sans-serif;
}

@media not all and (min-width: 640px) {
  body {
    font-size: 12px;
  }
}

.card {
  @apply bg-white shadow-2xl mx-auto px-20 max-sm:p-10 pt-16 pb-12 rounded-3xl;
}

.social-bar {
  background: rgba(205, 205, 205, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 60px;
}
